@page "/About"


<style>
    .containerabout {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: blanchedalmond !important;
        color: #343a40;
        border-radius: 0.25rem;
        transition: all 0.3s ease;
        box-shadow: yellow 0px 1px 30px 1px;
    }
    body {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
    }
</style>


<div class="container containerabout bg-light text-dark p-5 rounded">
    <section id="introduction" class="my-5">
        <h2 class="text-primary">Introduction</h2>
        <p class="text-center">In the modern landscape of customer service, providing timely and accurate assistance is paramount to ensuring public customer satisfaction and loyalty. However, traditional methods of accessing information, particularly relying on PDF files for answers, can present significant challenges for customer service representatives. As organizations strive to meet the increasing demands and expectations of public customers, it is crucial to address the limitations and inefficiencies associated with the utilization of PDF files in customer service interactions.</p>
    </section>
    <section id="solution" class="my-5">
        <h2 class="text-success">Our Solution</h2>
        <p class="text-center">Our app is designed to revolutionize customer service by streamlining the process of retrieving and accessing pertinent data during public customer interactions. While PDF files are ubiquitous and offer a convenient means of storing and sharing information, they often pose obstacles when it comes to retrieving and accessing pertinent data swiftly during public customer interactions. Customer service representatives frequently encounter hurdles such as navigating through extensive documents, searching for specific content, and deciphering complex information within PDF files. These challenges not only impede response times but also hinder the ability to provide accurate and personalized assistance to public customers.</p>
        <p class="text-center">Public customers expect fast and accurate responses. A study found that nearly 60% of callers wouldn’t wait on hold for more than a minute, and at five minutes, over 90% of them would hang up altogether (Salerno, 2022). Even a live chat with customer service can lead to an average wait time of 1 minute 35 seconds (Wroblewski, 2024). Struggling to find answers hidden within unstructured data like PDF files, or if they are asked outside business hours, can escalate public customers' frustration, damaging the company's reputation.</p>
    </section>
     
</div>

@code {
    
}