@* @page "/ChatPage" *@
@page "/ChatPage/{ResponseId}"
@using UploadFile.Models
@using Frontend.Services
@using Frontend.Services.ConversationServices
@using Frontend.Services.FeedbackServices
@using Shared
@layout MainPageComponent
@inject IJSRuntime JSRuntime
@inject IConversationService conversationService
@inject IFeedbackService feedbackService
@inject SweetAlertService MySweetAlertService

<style>
    
   body{
        
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
   }
  
    
</style>

<div class="chatPage row  ">

    <div class="chatlist col-xxl-2 col-xl-2 col-lg-2 col-md-5 col-sm-12">


    </div>
    <div class="chat-container col-xxl-10 col-xl-10 col-lg-10 col-md-7 col-sm-12">
        <div class="insideContainer">


            <div class="chat-messages" @ref="chatContainer">
                @foreach (var message in messages)
                {
                    if (message.IsUser)
                    {
                        <div class="contentUserMsg">
                            <i class="fas fa-user icon userIcon"></i>
                            <p class="message user-message"> You: @message.Text</p>
                        </div>
                    }
                    else
                    {
                        <div class="contentChatMsg">
                            <i class="fas fa-robot icon"></i>
                            <p class="message chatbot-message"> Server: @message.Text</p>
                        </div>
                    }
                }


            </div>
            
          @if (IdOfFirstConversation.HasValue)
          {
              <div class="feedback">
                  <button class="btn btn-primary likeDislikeButtons" @onclick="() => LikeDislikeButton(IdOfFirstConversation, FeedbackEnum.Positive)">
                      <i class="fas fa-thumbs-up"></i> Like
                  </button>
                  <button class="btn btn-danger likeDislikeButtons" @onclick="() => LikeDislikeButton(IdOfFirstConversation, FeedbackEnum.Negative)">
                      <i class="fas fa-thumbs-down"></i> Dislike
                  </button>
              </div>
          }


            <input @bind="userInput" @onkeyup="HandleKeyUp"/>


        </div>
    </div>
</div>


@code {

    [Parameter] public string ResponseId { get; set; }

    private int? IdOfFirstConversation { get; set; }

    string userInput = "";
    List<Message> messages = new List<Message>();


    ElementReference chatContainer;


    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(userInput))
        {
            messages.Add(new Message { Text = userInput, IsUser = true });

            var chatSession = await GetConversationByChatSessionId(ResponseId, userInput);
            var serverResponse = chatSession.Conversations.FirstOrDefault()?.Answer ?? "No response from server";
            IdOfFirstConversation = chatSession.Conversations.FirstOrDefault()?.Id;
            messages.Add(new Message { Text = serverResponse, IsUser = false });

            userInput = "";
        }
    }


    private async Task<Chat_session> GetConversationByChatSessionId(string ResponseId, string question)
    {
        int parsIdToInt = Int32.Parse(ResponseId);

        var response = await conversationService.GetConversationByChatSessionId(parsIdToInt, question);

        return response;
    }


    private async Task LikeDislikeButton(int? firstConversationid, FeedbackEnum likeDislikeButton)
    {
        
        var response = await feedbackService.GiveFeedbackAsync(firstConversationid, likeDislikeButton);

        Console.WriteLine("answer about feedback from server" + response);
          var negativeFeedback = "We're sorry to hear about your negative feedback.";
         var positiveFeedback = "Thank you for your feedback";
        var PositiveResponse = FeedbackEnum.Positive;
        var NegativeResponse = FeedbackEnum.Negative;

        if (response == positiveFeedback)
        {
            await ShowAlert(positiveFeedback);
        }

        if (response == negativeFeedback)
        {
            await ShowAlert(negativeFeedback);
        }
        
    }


    public async Task ShowAlert(string msg)
    {
        await MySweetAlertService.FireAsync(new SweetAlertOptions
        {
            Position = SweetAlertPosition.Center,
            Icon = SweetAlertIcon.Success,
            Title = "Feedback",
            Text = msg,
            ShowConfirmButton = false,
            Timer = 3000
        });
    }

}