
.chatPage {

    min-width: 375px;: rgb(0, 212, 255);
    /*background: linear-gradient(90deg, rgba(0, 212, 255, 1) 8%, rgba(9, 9, 121, 1) 24%, rgba(2, 0, 36, 1) 100%);*/
    height: 100vh;
    width: 100%;
    margin: 0px;


}

.chatlist {
    background-color: black;


}
.insideContainer {
    max-width: 800px; /* Set the maximum width of the container */
    margin: auto; /* Center the container */
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 33px rgba(0, 0, 0, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}
.chat-container {

    
    padding: 20px;

    


}

.chat-messages {
    height: 650px;
    overflow-y: auto;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 33px rgba(0, 0, 0, 1);
}

.chat-messages p {
    margin-top: 5px;
    line-height: 2.4;


}

.chat-messages p:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}

.message {
    transition: all 0.3s ease-in-out; /* This will make the changes happen smoothly over 0.3 seconds */
    background-color: white;
    color: black;
    margin: 10px;
    box-shadow: 0 0 4px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;


    display: inline-block; /* Add this line */
    max-width: 90%; /* Add this line */
    word-wrap: break-word; /* Add this line */
}

.message:hover {
    /*color: black;*/
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); !* Add a shadow on hover *!*/
    transform: scale(1.02); /* Increase the size of the element on hover */
}
.user-message {
    text-align: right;
    /*color: #01015e;*/
    color: black;
    background-color: lightgray;
}

.chatbot-message {
    text-align: left;
    /*color: #01015e;*/
    color: black;
    /*background-color: #f1f1f1;*/
}
.contentUserMsg{
  

 
   
    text-align: right; /* Align text to the right */
    width: 100%;
}

.contentChatMsg{
 
    margin-left: 0px ;
    width: 100%;
    
}

.userIcon{
    margin-top: 20px;
    float: right;
}
.feedback{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.likeDislikeButtons{
    width: 100px !important;
    margin: 10px !important;;
    height: 50px !important;;
}




.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.inputComponent{
    display: flex;
    
    
}
.inputComponent span {
    /* Your styles here */
    
    color: yellow;
 
    width: 50px;
    
}
.inputComponent span.material-icons {
   /* Adjust this value to make the icon bigger or smaller */
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorless-button {
    background: none;
    border: none;
    color: inherit;

 
}