
.chatPage {

    min-width: 375px;: rgb(0, 212, 255);
    /*background: linear-gradient(90deg, rgba(0, 212, 255, 1) 8%, rgba(9, 9, 121, 1) 24%, rgba(2, 0, 36, 1) 100%);*/
    
    width: 100%;
    margin: 0px;


}

.chatlist {
    /*background-color: black;*/


}
.insideContainer {
    margin-bottom: 60px !important;
    max-width: 800px; /* Set the maximum width of the container */
    margin: auto; /* Center the container */
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 33px rgba(0, 0, 0, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    
}

 
.chat-container {

    
    padding: 20px;

    


}

.chat-messages {
    height: 650px;
    overflow-y: auto;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 33px rgba(0, 0, 0, 1);
}
@media (min-width: 992px) and (max-width: 1920px) {
    .insideContainer {
        max-width: 600px;

    }
}

@media (min-width: 992px) and (max-width: 1920px) {
    .chat-messages  {
        height: 400px;

    }
}

.chat-messages p {
    margin-top: 5px;
    line-height: 2.4;


}

.chat-messages p:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}

.message {
    transition: all 0.3s ease-in-out; /* This will make the changes happen smoothly over 0.3 seconds */
    background-color: white;
    color: black;
    margin: 10px;
    box-shadow: 0 0 4px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;


    display: inline-block; /* Add this line */
    max-width: 90%; /* Add this line */
    word-wrap: break-word; /* Add this line */
}

.message:hover {
    /*color: black;*/
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); !* Add a shadow on hover *!*/
    transform: scale(1.02); /* Increase the size of the element on hover */
}
.user-message {
    text-align: right;
    /*color: #01015e;*/
    color: black;
    background-color: lightgray;
}

.chatbot-message {
    text-align: left;
    /*color: #01015e;*/
    color: black;
    /*background-color: #f1f1f1;*/
}
.contentUserMsg{
  

 
   
    text-align: right; /* Align text to the right */
    width: 100%;
}

.contentChatMsg{
 
    margin-left: 0px ;
    width: 100%;
    
}

.userIcon{
    margin-top: 20px;
    float: right;
}
.feedback{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.likeDislikeButtons{
    width: 100px !important;
    margin: 10px !important;;
    height: 50px !important;;
}




.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.inputComponent{
    display: flex;
    
    
}
.inputComponent span {
    /* Your styles here */
    
    color: green;
 
    width: 50px;
    
}
.inputComponent span.material-icons {
   /* Adjust this value to make the icon bigger or smaller */
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorless-button {
    background: none;
    border: none;
    color: inherit;

 
}

.w3-sidebar {
    position: relative;
    left: 0;
    width: 250px;
    background-color: silver;
    color: black;
}


@media (max-width: 768px) {
    .w3-sidebar {
        position: fixed !important;
        max-width: 250px;
        left: 0;
    }
}

 
.w3-teal, .w3-hover-teal:hover {
    color: #fff !important;
    background-color: transparent !important;
}
.w3-container{
    margin-top: 8px;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
}

.filterdropdown{
    
    /* color: black !important; */
    background: dimgrey !important; 
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.filterbtn {
    background: dimgrey !important;
    
    border: 1px solid white !important;
    box-shadow: black 1px 1px 1px;
    padding: 10px;
    margin: 5px;
    width: 65%;
    
    
}
.filterbtn:hover {
    background-color:  #F1C40F  !important;  
    color: black !important;
    transition: all 0.3s ease !important;
}

.feedbackDiv {

    width: 100%;
    margin-right: 150px !important;
    margin: auto;
    
}

.theadfeedback{
 
}
.feedbackTable{
    border-spacing: 0 10px; /* This adds a 10px vertical spacing */
    width: 100%;
     
    border-collapse: collapse;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5); /* Add shadow */

     
}
.feedbackTable tbody {
    border: 10px solid transparent; /* This adds a 10px transparent border */
}

feedbackTable, td, th {
 
    padding: 10px;
    margin-top: 10px;
 
}
th{
    background-color: #F1C40F ;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    
}
td, th {
     
    padding: 20px;
    transition: background-color 0.5s ease;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.8); /* Add shadow */
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: black 1px 1px 1px;
    font-size: 20px;
  
}
 
 
tr:hover{

   width: 100%;
    background-color: #F1C40F ;
    color: black;
    transform: scale(1.05);
}
.questionColumn {
    width: 40%; /* Adjust this value as needed */
}

.feedbackH1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 20px;
    transform: scale(1.05);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.8); /* Add shadow */
    padding: 20px;
    font-style: italic;
    
}


.container-chat-session{
    display: flex;
    margin: 10px;
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.8); /* Add shadow */
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: black 1px 1px 1px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.container-chat-session:hover{
    background-color: #F1C40F ;
    color: black;
    transform: scale(1.05);
}
.chat-sessionside{

    margin-top: 8px;
}
.hidden {
    display: none;
}
.chat-button-container {
    position: fixed;
    right: 20px;
    bottom: 100px;


}
.chat-label {

    color: white;
    text-align: center;
    margin-bottom: 10px;

}
.chat-button {
    background-color: #0a53be;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 0px;
    padding: 20px;

}
