@page "/"
@layout MainPageComponent
@inject IJSRuntime JSRuntime
@using System.Threading
@using BlazorTypewriter
@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <NotAuthorized>

        <div class="mycontent">
            <div class="row">
                <div class="leftside col-lg-5 col-md-5 col-sm-12">
                <h1 id="typingText"><Typewriter Builder="@typewriter" /></h1>
                </div>

                <div class="rightside col-lg-7 col-md-7 col-sm-12">
                    <div class="parent">
                        <img src="Images/Graident%20Ai%20Robot1.png" class="myimg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-button-container">
            <p class="chat-label">Chat </p>

            <NavLink href="/ChatPage">

                <button class="chat-button">
                    <i class="fas fa-comments"></i> <!-- This is the chat icon -->
                </button>


            </NavLink>


        </div>

    </NotAuthorized>

    <Authorized>
        @if (context.User != null && context.User.Identity != null)
        {
            var userEmail = context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
            <h3>Hello, @context.User.Identity.Name</h3>

            <h4>Email: @userEmail</h4>
            <div class="mycontent">
                <div class="row">
                    <div class="leftside col-lg-5 col-md-5 col-sm-12">
                        <h1 id="typingText"></h1>
                    </div>

                    <div class="rightside col-lg-7 col-md-7 col-sm-12">
                        <div>
                            <img src="Images/Graident%20Ai%20Robot.jpg" class="myimg"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-button-container">
                <p class="chat-label">Chat </p>

                <NavLink href="/ChatPage">

                    <button class="chat-button">
                        <i class="fas fa-comments"></i> <!-- This is the chat icon -->
                    </button>


                </NavLink>


            </div>
        }

    </Authorized>
</AuthorizeView>

@code {
   
    private TypewriterBuilder typewriter;
 

  
    protected override async Task OnInitializedAsync()
    {
        typewriter = new TypewriterBuilder(defaultCharacterPause: 100)
            .TypeString("Welcome to our chat-bot AI technology. ")
            .Pause(2000)
            .DeleteAll()
            .TypeString("You can upload any pdf, then ask you questions and our technology will find the answer from you uploaded pdf file. ", 50)
            .Pause(2000)
            .DeleteAll(30)
            .TypeString("Use cases, Books, Research, Textbooks, Articles, Financial, Documents. ", 30)
            .Pause(2000)
            .DeleteAll(20)
            .Pause(2000)
            .Loop();
    }
}