@page "/LoginPage"
@using Frontend.Authentication
@using Shared
@layout MainPageComponent
@inject IAuthManager AuthManager
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization

<style>
    
   body{
          background: rgb(2, 0, 36);
          background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
   }
    
</style>

<AuthorizeView>
 <NotAuthorized>
        <section class=" vh-100  gradient-custom">
            <div class="container py-4 h-100">
                <div class="  row d-flex justify-content-center align-items-center  " style="height: 75vh !important;">
                    <div class="myEdit col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 2rem;">
                            <div class="card-body p-5 text-center">
            
                                <div class="mb-md-5 mt-md-4 pb-5">
            
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-2">Please enter your login and password!</p>
            
                                    <div class="form-outline form-white mb-2">
                                        <InputText id="typeEmailX" class="form-control form-control-lg" @bind-Value="@Mail"/>
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>
            
                                    <div class="form-outline form-white mb-2">
                                        <InputText type="password" id="typePasswordX" class="form-control form-control-lg" @bind-Value="@Password"/>
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>
            
                                   
            
                                    <button class="btn btn-outline-light btn-lg px-5" @onclick="Login">Login</button>
            
                                <p>@errorMessage</p>
            
                                </div>
            
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </NotAuthorized>

    <Authorized>
        @if (context.User != null && context.User.Identity != null)
        {
            <h3>Hello, @context.User.Identity.Name</h3>
        }
        else
        {
            <p>User not authenticated</p>
        }
    </Authorized>
</AuthorizeView>

@code {
    private string Mail { get; set; }
    private string Password { get; set; }

    public string errorMessage;


    public async Task Login()
    {
        try
        {
            if (Mail != null || Password != null)
            {
                var admin = new Admin() { Mail = Mail, Password = Password };

                Admin response =  await AuthManager.LoginAsync(admin);

                if (response.Id == -1)
                {
                    errorMessage = "Please make sure your mail and password are correct.";
                }
                else
                {
                    NavigationManager.NavigateTo("/");
                }
            }
            else
            {
                errorMessage = "Please make sure your mail and password are correct.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

}