@page "/ManageEmail"

@using Shared
@layout MainPageComponent;
@inject ICredentialService  iCredentialService
@inject NavigationManager NavigationManager

@using Frontend.Authentication
@using Frontend.Services
@using Frontend.Services.CredentalServices
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthManager authManager
@inject SweetAlertService MySweetAlertService
 
<style>
    
   body{
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
   }
    
</style>

<AuthorizeView>
    <Authorized>
        <section class=" vh-100  gradient-customCredential">
            <div class="container py-4 h-100">
                <div class="  row d-flex justify-content-center align-items-center  " style="height: 75vh !important;">
                    <div class="myEdit col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 2rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Change Login Email</h2>
                                    <p class="text-white-50 mb-2">Please enter your current password And new mail</p>

                                    <div class="form-outline form-white mb-2">
                                        <InputText type="password" id="typeCurrentPassword" class="form-control form-control-lg" @bind-Value="@CurrentPassword"/>
                                        <label class="form-label" for="typeCurrentPassword">Current Password</label>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <InputText type="email" id="typeNewPassword" class="form-control form-control-lg" @bind-Value="@NewMail"/>
                                        <label class="form-label" for="typeNewPassword">New Mail</label>
                                    </div>

                                    <div class="form-outline form-white mb-2">
                                        <InputText type="email" id="typeRepeatNewPassword" class="form-control form-control-lg" @bind-Value="@RepeatNewMail"/>
                                        <label class="form-label" for="typeRepeatNewPassword">Repeat New Mail</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" @onclick="ChangeEmail">Save</button>

                                    <p>@errorMessage</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </Authorized>
</AuthorizeView>



@code {
    private string CurrentPassword { get; set; }
    private string NewMail { get; set; }
    private string RepeatNewMail { get; set; }
    
    public string message;

    public string errorMessage;

    public int userIdFromCache { get; set; }
    
    [Parameter] public string Id { get; set; }
    public async Task ChangeEmail()
    {
        userIdFromCache = await authManager.GetUserIdFromCache();
        // If Id is null, then it gets assigned the value "1".
        Id = Id ?? "1";
        try
        {
            
            if (CurrentPassword != null || NewMail != null || RepeatNewMail != null)
            {

                string response = await iCredentialService.ChangeMail(userIdFromCache ,CurrentPassword, NewMail, RepeatNewMail);

                errorMessage = response;
                NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = "Please make sure of correct password are correct and Emails too.";
            }
          
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

}