

@media (min-width: 350px) {
    .gradient-customCredential {
        height: 100vh;
    }
}

.gradient-customCredential {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
}

/* Ensure the myEditCredential div does not exceed the main page size */
.myEditCredential {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
}

/* Adjust the design for different screen sizes using media queries */
@media (min-width: 300px) {
    .gradient-customCredential,
    .myEditCredential {
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .myMain {
        height: 100vh;
    }
} 