 
 
<style>
.footer {
    
    background: #F1C40F;
    color: #212529;
    text-align: center;
    padding: 20px;
 
    left: 0;position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dee2e6;
      transition: transform 0.3s ease; /* Add this line */
        box-shadow: 0px 0px 40px 40px rgba(0,0,0,0.95); /* Add this line */
}
.footer:hover {
    transform: scale(1.05); /* Add this line */
}
.footer p {
    margin: 0;
    font-size: 0.875em;
}
</style>

<footer class="footer">
  
   
 
    <p>&copy;2024 CHATBOT AI | All Rights Reserved</p>
  </footer>

@code {
    
}