 
.mynavbar{
    background: #0a53be;
}
.mynavbar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(98,94,193,1) 100%);
}
.mainText{
    color: white;
}
.myMain{
    top: 0px;
}
.LoginText{
    color: white;
    text-decoration: none;

}

@media (min-width: 1024px) {
    .myMain {
        height: 100vh;
    }
}

body {
    min-width: 375px;
}