.mynavbar {
    background: #0a53be;

    top: 0;
    z-index: 1000;

}

.mynavbar {

    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(98, 94, 193, 1) 100%);
    position: sticky;
    border-bottom: 2px solid yellow;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 5);


}

.container-fluid {
    margin: 5px;
}


.navbar-nav {

    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    width: 160px;
}

.homebtn {

    height: 40px;
    margin-bottom: 5px;
}

.loginbtn {
    margin-left: 5px !important;
    height: 40px;
    width: 180px;
    margin-bottom: 5px;

}

.Managebtn {
    margin-left: 5px !important;
    height: 40px;
    min-width: 140px;
    margin-bottom: 5px;
}

.Uploadbtn {
    margin-left: 5px !important;
    height: 40px;
    min-width: 110px;
    margin-bottom: 5px;

}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* ... rest of your existing CSS ... */

/* Add the new CSS here */

/* NAVIGATION */

nav.shift {
    margin-left: 5px !important;
    height: 40px;
    min-width: 110px;
    margin-bottom: 5px;

}

nav.shift ul {
    list-style: none;
    text-align: center;
    display: flex;
    margin-top: 3px;
 
}

nav.shift ul li {
    display: inline-block;
}

nav.shift ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    height: 40px;
    padding-top: 9px;
    text-align: center;
    margin: 0px;
   

}
.Managelogin{
    min-width: 158px;
}
.upfile{
    min-width: 137px;
}

nav.shift ul li a,
nav.shift ul li a:after,
nav.shift ul li a:before {
    transition: all .5s;
}

 

/* SHIFT */
nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: black;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
 