@using Frontend.Authentication
@inject IAuthManager iAuthService;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <NotAuthorized>
        <nav class="mynavbar navbar navbar-expand-md navbar-dark bg-dark mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Chatbot AI</a>


                <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">


                    @* <a class="homebtn btn btn-outline-success  " @onclick="Login">Home</a> *@


                    <nav class="shift">
                        <ul>
                            <li>
                                <a  href="/">Home</a>
                            </li>
                            <li>
                                <a href="/About">About</a>
                            </li>


                        </ul>
                    </nav>


                    <ul class="navbar-nav me-auto mb-2 mb-md-0 homeItem">


                        <li class="nav-item text-item-li">
                            <button class="btn btn-outline-success my-2 my-sm-0" @onclick="Login">
                                <i class="fas fa-sign-in-alt"></i> Admin Login
                            </button>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </NotAuthorized>
    <Authorized>
        <nav class="mynavbar navbar navbar-expand-md navbar-dark bg-dark mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Chatbot AI</a>


                <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">


                    <nav class="shift">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>


                            <li>
                                <a class="Managelogin " @onclick="GoToManageCredential">Manage Login</a>
                            </li>

                            <li>
                                <a class="upfile" @onclick="UploadFilePage">Manage PDF</a>
                            </li>
                            <li>
                                <a href="/About">About</a>
                            </li>

                        </ul>
                    </nav>

                    <ul class="navbar-nav me-auto mb-2 mb-md-0 homeItem">


                        <li class="nav-item text-item-li">
                            <button class="btn btn-outline-success my-2 my-sm-0" @onclick="Logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </button>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </Authorized>

</AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async Task Login()
    {
        NavigationManager.NavigateTo("/LoginPage");
    }

    protected async Task GoToManageCredential()
    {
        NavigationManager.NavigateTo("/ManageLoginCredential");
    }

    protected async Task HomePage()
    {
        NavigationManager.NavigateTo("/");
    }

    protected async Task UploadFilePage()
    {
        NavigationManager.NavigateTo("/UploadFilePage");
    }

    protected async Task Logout()
    {
        NavigationManager.NavigateTo("/");

        await iAuthService.LogoutAsync();
    }

}