.mynavbar{
    background: #0a53be;

    top: 0;
    z-index: 1000;

}
.mynavbar {

    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(98,94,193,1) 100%);
    position: sticky;
    border-bottom: 2px solid yellow;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 5);


}

.container-fluid{
    margin: 10px;
}



.navbar-nav {

    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav-item{
    width: 120px;
}
.homebtn{
    
    height: 40px;
    margin-bottom: 5px;
}

.loginbtn{
    margin-left: 5px !important;
    height: 40px;
    width:180px;
    margin-bottom: 5px;
    
}
.Managebtn{
    margin-left: 5px !important;
    height: 40px;
    min-width:140px;
    margin-bottom: 5px;
}
.Uploadbtn{
    margin-left: 5px !important;
    height: 40px;
    min-width:110px;
    margin-bottom: 5px;

}